-r requirements.txt
factory-boy==3.2.1
coverage==6.5.0
flake8>=2.1.0
tox>=1.7.0
codecov>=2.0.0
Faker==8.12.0
django-environ==0.9.0
# Additional test requirements go here
djangorestframework==3.14.0
pytz==2022.2.1
#Do not add Django here Travis CI will include it
django-countries==7.3.2 #https://github.com/SmileyChris/django-countries
Pillow==9.3.0
django-money==3.0.0
