from rest_framework import serializers
# Generated with django-test-tools version {{template_data.version}} on {{template_data.generation_date}} {{template_data.tz}}

{% for package, models in imports.items() %}from {{package}} import {% for model in models %}{{ model }}{{ ", " if not loop.last }}{% endfor %}{% endfor %}
{% for key, model in models.items() %}
{% if model.has_foreign_keys %}
class {{ model.model_name }}PostSerializer(serializers.ModelSerializer):
    """
    Standard Serializer for creating and updating for the {{ model.model_name }} model.
    {%if model.has_ignored_fields%}The following fields where ignored by the generator: {% for field in model.fields %}{% if not field.is_included %}{{ field.field_name }}, {%endif%}{%endfor%}{%endif%}
    """
    class Meta:
        model = {{model.model_name}}
        field = ({% for field in model.fields %}{% if field.is_included %}'{{ field.field_name }}', {%endif%}{%endfor%})


class {{ model.model_name }}Serializer({{ model.model_name }}PostSerializer):
    """
    Standard Serializer for read the {{ model.model_name }} model.
    {%if model.has_ignored_fields%}The following fields where ignored by the generator: {% for field in model.fields %}{% if not field.is_included %}{{ field.field_name }}, {% endif %}{%endfor%}{%endif%}
    """
    {% for field in model.fields %}{% if field.foreign_key %}{{ field.field_name }} = {{field.foreign_key}}Serializer()
    {%endif%}{%endfor%}
{% else %}
class {{ model.model_name }}Serializer(serializers.ModelSerializer):
    """
    Standard Serializer for the {{ model.model_name }} model.
    {%if model.has_ignored_fields%}The following fields where ignored by the generator: {% for field in model.fields %}{% if not field.is_included %}{{ field.field_name }}, {%endif%}{%endfor%}{%endif%}
    """
    class Meta:
        model = {{model.model_name}}
        field = ({% for field in model.fields %}{% if field.is_included %}'{{ field.field_name }}', {%endif%}{%endfor%})

{% endif %}
{% endfor %}

